{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Реєстрація | {{ block.super }}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">

    <div class="card shadow-sm border-secondary">
      <div class="card-body p-4">

        <h1 class="h4 mb-4 text-center">Створення акаунту</h1>

        <!-- Toggle buttons -->
        <div class="btn-group w-100 mb-4">
  <a href="{% url 'student_registration' %}"
     class="btn {% if role == 'student' %}btn-primary{% else %}btn-outline-primary{% endif %}">
    Студент
  </a>

  <a href="{% url 'teacher_registration' %}"
     class="btn {% if role == 'teacher' %}btn-primary{% else %}btn-outline-primary{% endif %}">
    Викладач
  </a>
</div>


        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}

          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-success">Зареєструватися</button>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>
{% endblock %}
